.Kaani {
    text-align: center;
    /* font-size: 2.5rem; */
    font-weight: bold;
    color: #000000;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.Kastu {
    padding: 20px;
    background-color: rgb(239, 223, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Ka-mark,
.Ka-att {
    font-size: 1.5rem;
    color: rgb(107, 7, 131);
    font-weight: bold;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}

.Ka-table {
    border-collapse: collapse;
    background-color: rgb(221, 237, 255);
    border: 2px solid rgb(216, 255, 226);
}

.Ka-cus,
.Ka-tr {
    background-color: rgb(107, 7, 131);
    color: white;
    font-weight: bold;
}

.Ka-th {
    padding: 12px;
    border: 1px solid rgb(216, 255, 226);
    transition: background-color 0.3s;
}

.Ka-th:hover {
    background-color: rgb(255, 193, 7);
}

.Ka-td,
.Ka-td1 {
    padding: 10px;
    border: 1px solid rgb(216, 255, 226);
    color: rgb(107, 7, 131);
}

.Ka-P {
    color: rgb(107, 7, 131);
}

.Ka-R {
    border-color: rgb(255, 193, 7);
    color: rgb(255, 193, 7);
    background-color: transparent;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.3s;
}

.Ka-R:hover {
    background-color: rgb(255, 193, 7);
    color: white;
}

.Ka-S,
.Ka-down {
    background-color: rgb(107, 7, 131);
    border-color: rgb(107, 7, 131);
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s, background-color 0.3s;
}

.Ka-S:hover,
.Ka-down:hover {
    background-color: rgb(255, 193, 7);
    transform: scale(1.05);
}

.Ka-prev {
    padding: 20px;
    background-color: rgb(239, 223, 255);
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.Ka-search {
    padding: 10px;
    border: 1px solid rgb(107, 7, 131);
    border-radius: 5px;
    background-color: rgb(221, 237, 255);
    color: rgb(107, 7, 131);
    transition: all 0.3s;
}

.Ka-search:hover {
    border-color: rgb(255, 193, 7);
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.Ka-search:focus {
    outline: none;
    border-color: rgb(255, 193, 7);
    box-shadow: 0 0 5px rgba(255, 193, 7, 0.5);
}

.Ka-tare {
    width: 100%;
    border-collapse: collapse;
    border: 2px solid rgb(216, 255, 226);
    margin-top: 20px;
    font-family: Arial, sans-serif;
    background-color: rgb(221, 237, 255);
}

.Ka-in {
    border-bottom: 1px solid rgb(216, 255, 226);
    transition: background-color 0.3s;
}

.Ka-in:hover {
    background-color: rgb(239, 223, 255);
}