.Kcard {
    background-color: rgb(239, 223, 255); /* Light Grey */
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .Ktop {
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .Kbody {
    padding: 12px;
    background-color: rgb(221, 237, 255); /* Powder Blue */
  }
  
  .Ktitle {
    font-size: 1rem;
    font-weight: bold;
    color: rgb(107, 7, 131); /* Deep Violet */
  }
  
  .Ktext {
    font-size: 0.85rem;
    color: #444;
  }
  
  .Ktot {
    font-size: 0.85rem;
    font-weight: bold;
    color: rgb(107, 7, 131); /* Deep Violet */
  }
  
  .Kfoot {
    padding: 10px;
    background-color: rgb(239, 223, 255); /* Light Grey */
    text-align: center;
  }
  
  .Kbutton {
    background-color: rgb(235, 187, 43); /* Golden Yellow */
    color: #000;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 8px;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  .Kbutton:hover {
    background-color: rgb(107,7,131); 
  }
  
  .Knotavai {
    background-color: #ccc;
    color: #666;
    border: none;
    padding: 8px 12px;
    font-size: 0.9rem;
    border-radius: 8px;
    cursor: not-allowed;
  }
  
  
  .Kdai {
    max-width: 500px;
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  }
  
  .Kmcon {
    border-radius: 12px;
    overflow: hidden;
    padding: 10px;
  }
  
  .Kmhead {
    background-color: rgb(221, 237, 255); /* Powder Blue */
    padding: 12px;
    border-bottom: 2px solid rgb(107, 7, 131); /* Deep Violet */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .Kmtitle {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(107, 7, 131); /* Deep Violet */
  }
  
  .Kmbutton {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .Kmbody {
    padding: 15px;
    background-color: rgb(239, 223, 255); /* Light Grey */
  }
  
  .Kmfoot {
    background-color: rgb(221, 237, 255); /* Powder Blue */
    padding: 12px;
    display: flex;
    justify-content: space-between;
  }
  
  .Kmf1 {
    border-radius: 8px;
    border: 1px solid rgb(107, 7, 131); /* Deep Violet */
    padding: 8px;
  }
  
  .Kmf2 {
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 0.9rem;
    transition: box-shadow 0.3s ease;
    box-shadow: none;
    border-color: #6f42c1;
  }
  
  .Kmf3 {
    max-width: 200px;
    border-radius: 8px;
    padding: 0.75rem;
    font-size: 0.9rem;
    transition: box-shadow 0.3s ease;
    box-shadow: none;
    border-color: #6f42c1;
  }
  